
<div class="row" id="buyNow" padding="0px" class="img-responsive" style="background-image: url('https://s3.amazonaws.com/OnyxMotion/Images/stadiumBlurred.jpg'); height:1000px; background-size:cover;">


      <!-- Buy Now -->
      <div class="row some-gutter">
                
                <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">

                  <h1 style="font-weight:100; color:#ffffff; font-size:400%; text-align:center; padding-top:15%;"> Digital coaching more powerful than ever. </h1>
                  <br>
                  <h1 style="font-weight:100; color:#ffffff; font-size:300%; text-align:center;">Meet the Onyx Motion Smartwatch <a href="/#/#introPanel"><i class="fa fa-caret-square-o-right"></i></a></h1>                       
                      </div>
        </div>


<div class="row">
                          <div class="col-md-4 col-md-offset-5 col-xs-12 col-xs-offset-3">
                              <img style="padding-top:5%; padding-left:2%;" src="https://s3.amazonaws.com/OnyxMotion/Images/blackwatchFrontTransparent.png" width="40%" class="img-responsive">
          </div><!-- end col-sm-2 -->

        </div>



</div> <!-- Banner Row -->



<!--Intro Panel-->
<div class="row" id="splashPanel" style="background-color:#e1e1e1; color:#000000; padding-bottom:10%">

          <div class="col-md-4 col-md-offset-1">


             <img style="padding-top:10%" src="https://s3.amazonaws.com/OnyxMotion/Images/portalMockup.png"  width="90%" class="img-responsive">

        
          </div><!-- end col-sm-2 -->



           <div class="col-md-5 col-md-offset-1 col-xs-10 col-xs-offset-1">
          
 <h2 style="font-weight:200; padding-top:10%; margin-top:20%;color:#000000; ">Analytical Power x Sports Coaching</h2>
          <br>

            <h3 style="font-weight:100; text-align:justify; text-justify:inter-word;color:#000000; ">The Onyx Smartwatch compares your technique to the professionals and gives you helpful tips for improving.  </h3>

            <h3 style="font-weight:100; text-align:justify; text-justify:inter-word;color:#000000; ">By collecting your stats over time, we can paint you a picture of your progress and give you an idea of how to make the best of your practice time.</h3>
          <br>
                        <div class="btn-group" style="padding-left:2%;">
                            <button type="button" class="btn btn-primary btn-lg" analytics-on="click" analytics-event="FrontPageBuy"><a href="/#/preorder" analytics-on="click" analytics-event="IntroPanelBuy">Buy Now</a></button>
                        </div> <!--End Button-->

        </div>


</div>  <!--Intro Panel-->

<!--Components Panel-->

<div class="row some-gutter" id="componentsPanel" style="background-color:#e1e1e1; color:#333333; padding-bottom:10%">


          <div class="col-md-5">


             <img style="padding-top:15%" src="https://s3.amazonaws.com/OnyxMotion/Images/blackwatchScreenTransparent.png"  width="110%" class="img-responsive">

        
          </div><!-- end col-sm-2 -->



           <div class="col-md-5 col-xs-10 col-xs-offset-1">
          
 <h2 style="font-weight:200; padding-top:10%; margin-top:80px;">Sophisticated Engineering</h2>
          <br>
          <h3 style="font-weight:100;"> We didn't want to build another step counter.  We wanted to build the next thing. </h3>


            <h3 style="font-weight:100;">We used the best sensors and leading edge algorithms to give you the most powerful insights into winning.</h3>

            

            <h3 style="padding-top:10%; font-weight:100; text-align:justify; text-justify:inter-word;"><i class="fa fa-sun-o"></i> High contrast transflective screen for outdoor use</h3>

            <h3 style="font-weight:100; text-align:justify; text-justify:inter-word;"><i class="fa fa-tachometer"></i> Motion sensors with higher than industry standard precision</h3>

            <h3 style="font-weight:100; text-align:justify; text-justify:inter-word;"><i class="fa fa-database"></i> Machine learning motion recognition inspired by speech recognition research</h3>



            <br>
<!--                         <div class="btn-group" style="padding-left:2%;">
                            <button type="button" class="btn btn-primary btn-lg" analytics-on="click" analytics-event="FrontPageBuy"><a href="/#/preorder" analytics-on="click" analytics-event="IntroPanelBuy">Learn More</a></button>
                        </div> <!--End Button--> 

        </div>

</div>  <!--Components Panel-->

<!--UX Panel-->

<div class="row some-gutter" id="componentsPanel" style="background-color:#e1e1e1; color:#000000; padding-bottom:10%">


          <div class="col-md-6 col-xs-10 col-xs-offset-1">


             <img style="padding-top:20%" src="https://s3.amazonaws.com/OnyxMotion/Images/twoblackTransparent.png" class="img-responsive">

        
          </div><!-- end col-sm-2 -->



           <div class="col-md-4 col-xs-10 col-xs-offset-1">
          
 <h2 style="font-weight:200; padding-top:10%; margin-top:80px;">A seamless experience</h2>
          <br>
          <h3 style="font-weight:100;">The best insight is instant and complete.</h3>


            <h3 style="padding-top:10%; font-weight:100; text-align:justify; text-justify:inter-word;"> With an on board screen for instant feedback so you don't need to constantly pull out your phone in-game.  Feedback is relevant and in a language you can understand. A smooth form factor means Onyx isn't just beautiful, it's safe.</h3>
            <br>

         <h3 style="font-weight:100;">You can tell when something is designed with care.</h3>
<!--                         <div class="btn-group" style="padding-left:2%;">
                            <button type="button" class="btn btn-primary btn-lg" analytics-on="click" analytics-event="FrontPageBuy"><a href="/#/preorder" analytics-on="click" analytics-event="IntroPanelBuy">Learn More</a></button>

                            <section class="page2">
                        </div> <!--End Button--> 

        </div>

</div>  <!--UX Panel-->

<!--Pricing Row-->
<div class="row" id="pricing" style="background-color:#e1e1e1; padding:15% 0 15% 0;">

          <div class="col-md-2 col-md-offset-3" style="background-color:#000000;">
            <h3 align="center" style="color:#ffffff; padding-top:2%;" >Explore</h3>
            <h4 align="center" style="color:#ffffff;" >$200</h4>
         
          <div class="row">
            <div class="col-md-12" style="background-color:#ffffff;">
            <br>
            <h4 align="center" style="color:#000000;" >Onyx Smartwatch</h4>
            <br>
            <h4 align="center" style="color:#000000;" >Support for your favourite sport</h4>
            <br>
            <h4 align="center" style="color:#000000;" >Access to the Portal to view your long term progress</h4>
            <br>
<div class="row" style="background-color:#ffffff; padding-bottom:5%;">
            <div class="col-xs-10 col-xs-offset-4 col-sm-offset-5 col-md-offset-3">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" analytics-on="click" analytics-event="buyFocus"><a href="/#/preorder" analytics-on="click" analytics-event="buyFocus">Buy Now</a></button>
                        </div> <!--End Button-->
            </div>
  </div>
            </div>
          </div>

           </div> <!-- First Pricing Option Column -->

          <div class="col-md-2 col-md-offset-2" style="background-color:#000000;">
            <h3 align="center" style="color:#ffffff; padding-top:2%;" >Hacker</h3>
            <h4 align="center" style="color:#ffffff;" >$250</h4>

            <div class="row">

          <div class="col-md-12" style="background-color:#ffffff;">
            <br>
            <h4 align="center" style="color:#000000;" >Onyx Smartwatch</h4>
            <br>
            <h4 align="center" style="color:#000000;" >Get an alpha prototype shipped early</h4>
            <br>
            <h4 align="center" style="color:#000000;" >Get exclusive access to our developer's platform</h4>
            <br>

<div class="row" style="background-color:#ffffff; padding-bottom:5%;">
            <div class="col-xs-10 col-xs-offset-4 col-md-offset-3">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" analytics-on="click" analytics-event="buyFocus"><a href="/#/preorder" analytics-on="click" analytics-event="buyFocus">Buy Now</a></button>
                        </div> <!--End Button-->
            </div>
  </div>
            
          </div>
        </div>

          </div> <!-- Second Pricing Option Column -->
    
</div><!--Pricing Row-->


<!--Engage Row-->
<div ng-show="signup" class="row" id="engage" style="background-color:#000000;">

<div   class="jumbotron-caption">

      <!-- Buy Now -->
      <h1 style="padding:10% 5% 2% 5%;"> Thanks for hitting us up.</h1>
      <h3 style="padding:50px;color:#e1e1e1;">We're building some digital coaches. If you want a heads up at launch, let us know.</h3>


<!-- Begin MailChimp Signup Form -->
<!-- <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css"> -->
<style type="text/css">
          #mc_embed_signup{background:transparent; clear:left; font:20px Helvetica,Arial,sans-serif; }
          /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
             We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
        <form action="http://onyxmotion.us8.list-manage.com/subscribe/post?u=1f849069c3254cfa3d6ca050a&amp;id=fe937a6f51" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="all-star@onyxmotion.com" required>

            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_1f849069c3254cfa3d6ca050a_fe937a6f51" value=""></div>

            <h4> <br> </h4>

          <div style="margin-left:-10%"class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-lg" ng-click="save()"></div>
        </form> <!-- end form -->
</div> <!-- end MailChimp signup form -->



    <div ng-show="master">{{master | json}}</div> <!-- I dunno -->


      <h6 style="padding:20px;color:#e1e1e1;" align="center"> Would a good coach send spam or share your email? No. We won't either.</h6>

</div> <!-- Jumbotron Caption -->

</div> <!-- First Page of Engage Row -->


<div  class="row" id="thankyou" style="background-color:#000000; padding-bottom:10%;">
    <div ng-hide="signup" class="jumbotron-caption">

      <div class="row">

          <div class="col-md-6 col-md-offset-3">
      <!-- Buy Now -->
      <h1 style="padding:5% 0 5% 0;"> Thanks.  <br><small>You're already an all-star to us.</small></h1>

      <h4> Seriously, you must be ahead of the curve.  We'd appreciate it if you took a minute to spread some of that early-adopter love to your friends.  </h4>
<br>
      <h4> The Onyx Motion Team (James, Kelvin, Marissa and Vivek) </h4>

    </div>
  </div> <!-- Banner Text Row
 -->
            <div class="row no-gutter" style="padding:5% 0 0 5%">

          <div class="col-md-1 col-md-offset-4">

<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2Fonyxmotion&amp;width=500&amp;layout=box_count&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:500px; height:65px;" allowTransparency="true"></iframe>

          </div>

          <div class="col-md-1">

                        <a href="https://twitter.com/onyxmotionnews" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @onyxmotionnews</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

          </div>



          <div class="col-md-1">

            <script src="http://platform.tumblr.com/v1/share.js"></script>

                     <a href="http://www.tumblr.com/share" title="Share on Tumblr" style="display:inline-block; text-indent:-9999px; overflow:hidden; width:129px; height:20px; background:url('http://platform.tumblr.com/v1/share_3.png') top left no-repeat transparent;">Share on Tumblr</a>

          </div>

      </div>


      
    </div> <!-- Jumbotron Caption -->
</div><!--Thank You Page of Engage Row-->


