

<div class="row" id="buyNow" padding="0px">

<div class="jumbotron banner" class="img-rounded" style="background-image: url('https://s3.amazonaws.com/OnyxMotion/Images/jordan.png')" margin-top:"-50px">
    <div class="jumbotron-caption">

      <!-- Buy Now -->



                <div class="col-md-4 col-md-offset-8">

                  <h1> Onyx Motion </h1>
                  <br>
                  <h2> Players, meet your coach.</h2>
                  <br>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-lg" analytics-on="click" analytics-event="FrontPageBuy"><a href="/#/preorder" analytics-on="click" analytics-event="FrontPageBuy">Buy Now</a></button>
                        </div> <!--End Button-->
        
          </div><!-- end col-sm-2 -->

    </div>
</div><!--jumbotron-->
</div> <!-- Banner Row -->



<!--Intro Panel-->
<div class="row" id="introPanel" style="background-color:#e1e1e1;">

          <div class="col-md-5 col-md-offset-2">
          
          <h2 style="font-weight:400; margin-top:80px;">We are Onyx Motion</h2>
          <br>
          <h3 style="font-weight:300;"> We're making it easier for you to know your game. </h3>

            <h3 style="font-weight:300; text-align:justify; text-justify:inter-word;">Onyx compares your technique to the professionals and gives you helpful tips for improving.  By collecting your stats over time, we can paint you a picture of your progress and give you an idea of how to make the best of your practice time.</h3>
          <br>
        </div>

          <div class="col-md-4">

            <img src="https://s3.amazonaws.com/OnyxMotion/Images/TransparentConcept.png" class="img-responsive">
        
          </div><!-- end col-sm-2 -->


</div>  <!--Intro Panel-->




<!--MultiSport Panel-->



  <div class="row no-gutter" id="examplePanel">

          <div class="col-md-4">

            <img src="https://s3.amazonaws.com/OnyxMotion/Images/golfExampleBW.png" class="img-responsive">
        
          </div><!-- end col-md-4 -->

          <div class="col-md-4">

            <img src="https://s3.amazonaws.com/OnyxMotion/Images/baseballExampleBW.png" class="img-responsive">
        
          </div><!-- end col-md-4 -->


          <div class="col-md-4">

            <img src="https://s3.amazonaws.com/OnyxMotion/Images/tennisExampleBW.png" class="img-responsive">
        
          </div><!-- end col-md-4 -->

</div>  <!--MultisportExample Panel-->




<!--Athelete Panel Row-->
<div class="row" id="threeFunctions" style="padding:0 0 5% 0;">
  <div class = "row" style="background-color:#333333; color:#ffffff; padding:3% 0 3% 0;">

          <h2 align="center">How it works</h2>

  </div> <!-- Title -->

<div class = "row some-gutter" style="background-color:#e1e1e1;">


          <div class="col-md-3" >

            <img src="https://s3.amazonaws.com/OnyxMotion/Images/BaseballHit.png" height="65%" width="65%" class="img-responsive" alt="Responsive image" style="margin-top:28%">

          <div class="row">

          <div class="col-md-12">

            <h2>Form</h2>
            <h3 style="font-weight:300; text-align:justify; text-justify:inter-word;">Decide what you want to learn.  Is it a basketball free throw, a tennis backhand or a golf drive?  We've got it all in the <a style="color:#e3e3e3;" href="market.onyxmotion.com" analytics-on="click" analytics-event="TFMarketplace">Motion Marketplace</a></h3>         
          </div><!-- end col-sm-2 -->
        
          </div><!-- Inner Row -->
        </div> <!-- end col-md-3 -->

          <div class="col-md-3">
            <p><br></p>
            <h1 style="font-size:1500%;" ><i class="fa fa-comment-o"></i></h1>

          <div class="row">  
          <div class="col-md-12">
            <h2>Feedback</h2>
            <h3 style="font-weight:300; text-align:justify; text-justify:inter-word;">We compare your technique to a professional athelete.  Then, we can show you exactly what you did and what part of your form needs work instantly on the screen</h3>    
          </div><!-- end col-sm-2 -->
        </div>

          </div><!-- end col-md-3 -->


          <div class="col-md-3">
            <img src="https://s3.amazonaws.com/OnyxMotion/Images/Insight.png" align="middle" height="65%" width="65%" class="img-responsive" style="margin:23% 0% 0% -9%;" alt="Responsive image"> 
<div class="row">
          <div class="col-md-12">
            <h2>Insight</h2>
            <h3 style="font-weight:300; text-align:justify; text-justify:inter-word;">What time of day do you peak at?  How long should your practices be?  Are you improving faster than your friends?  We collect that information into the Portal phone app.  Data is power.</h3>        
          </div><!-- end col-sm-2 -->
    </div>


          </div><!-- end col-sm-2 -->

</div> <!-- Row of Images -->






        </div> <!-- Row of Descriptions -->

</div>  <!--Athelete row-->


<!--Pricing Row-->
<div class="row" id="pricing" style="background-color:#333333; padding:10% 0 10% 0;">

          <div class="col-md-2 col-md-offset-2" style="background-color:#000000;">
            <h3 align="center" style="color:#ffffff;" >Explore</h3>
            <h4 align="center" style="color:#ffffff;" >$200</h4>
            <h6 align="center" style="color:#ffffff;" >Get started with Onyx</h6>
         
          <div class="row">
            <div class="col-md-12" style="background-color:#e1e1e1;">
            <br>
            <h4 align="center" style="color:#000000;" >Try out the Onyx Smartwatch right away</h4>
            <br>
            <h4 align="center" style="color:#000000;" >Mix and match the skill modules as you need them</h4>
            <br>
            <h4 align="center" style="color:#000000;" >Get exclusive access to our developer's platform</h4>
            <br>
                        <div class="btn-group" style="margin:10%; margin-left:30%;">
                            <button type="button" class="btn btn-primary" analytics-on="click" analytics-event="buyExplore"><a href="/#/preorder" analytics-on="click" analytics-event="buyExplore">Buy Now</a></button>
                        </div> <!--End Button-->
            </div>
          </div>

           </div> <!-- First Pricing Option Column -->

          <div class="col-md-2 col-md-offset-1" style="background-color:#000000;">
            <h3 align="center" style="color:#ffffff;" >Focus</h3>
            <h4 align="center" style="color:#ffffff;" >$260</h4>
            <h6 align="center" style="color:#ffffff;" >Pick up your game</h6>

            <div class="row">

          <div class="col-md-12" style="background-color:#e1e1e1;">
            <br>
            <h4 align="center" style="color:#000000;" >Get the Onyx Smartwatch with your sport pre-loaded</h4>
            <br>
            <h4 align="center" style="color:#000000;" >Upgrade your skill modules as you need them</h4>
            <br>
            <h4 align="center" style="color:#000000;" >Get exclusive access to our developer's platform</h4>
            <br>
                        <div class="btn-group" style="margin:10%; margin-left:30%;">
                            <button type="button" class="btn btn-primary" analytics-on="click" analytics-event="buyFocus"><a href="/#/preorder" analytics-on="click" analytics-event="buyFocus">Buy Now</a></button>
                        </div> <!--End Button-->
            
          </div>
        </div>

          </div> <!-- Second Pricing Option Column -->




          <div class="col-md-2 col-md-offset-1" style="background-color:#000000;">
            <h3 align="center" style="color:#ffffff;" >Master</h3>
            <h4 align="center" style="color:#ffffff;" >$340</h4>
            <h6 align="center" style="color:#ffffff;" >Get to the next level</h6>

            <div class="row">

          <div class="col-md-12" style="background-color:#e1e1e1;">
            <br>
            <h4 align="center" style="color:#000000;" >Choose between advanced modules of <strong>one sport</strong> OR standard levels for <strong>many sports</strong></h4> to pre-load on your Onyx Smartwatch
            <br>
            <h4 align="center" style="color:#000000;" >Mix and match the skill modules as you need them</h4>
            <br>
            <h4 align="center" style="color:#000000;" >Get exclusive access to our developer's platform</h4>
            <br>
                        <div class="btn-group" style="margin:10%; margin-left:30%;">
                            <button type="button" class="btn btn-primary" analytics-on="click" analytics-event="buyMaster"><a href="/#/preorder" analytics-on="click" analytics-event="buyMaster">Buy Now</a></button>
                        </div> <!--End Button-->
            
          </div>
        </div>


          </div> <!-- Third Pricing Option Column -->
    
</div><!--Pricing Row-->


<!--Engage Row-->
<div ng-show="signup" class="row" id="engage" style="background-color:#000000;">

<div   class="jumbotron-caption">

      <!-- Buy Now -->
      <h1 style="padding:10% 5% 2% 5%;"> Thanks for hitting us up.</h1>
      <h3 style="padding:50px;color:#e1e1e1;">We're building some digital coaches. If you want a heads up at launch, let us know.</h3>


<!-- Begin MailChimp Signup Form -->
<!-- <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css"> -->
<style type="text/css">
          #mc_embed_signup{background:transparent; clear:left; font:20px Helvetica,Arial,sans-serif; }
          /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
             We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
        <form action="http://onyxmotion.us8.list-manage.com/subscribe/post?u=1f849069c3254cfa3d6ca050a&amp;id=fe937a6f51" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="all-star@onyxmotion.com" required>

            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_1f849069c3254cfa3d6ca050a_fe937a6f51" value=""></div>

            <h4> <br> </h4>

          <div style="margin-left:-55px"class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-lg" ng-click="save()"></div>
        </form> <!-- end form -->
</div> <!-- end MailChimp signup form -->



    <div ng-show="master">{{master | json}}</div> <!-- I dunno -->


      <h6 style="padding:20px;color:#e1e1e1;" align="center"> Would a good coach send spam or share your email? No. We won't either.</h6>

</div> <!-- Jumbotron Caption -->

</div> <!-- First Page of Engage Row -->


<div  class="row" id="thankyou" style="background-color:#000000; padding-bottom:10%;">
    <div ng-hide="signup" class="jumbotron-caption">

      <div class="row">

          <div class="col-md-6 col-md-offset-3">
      <!-- Buy Now -->
      <h1 style="padding:5% 0 5% 0;"> Thanks.  <br><small>You're already an all-star to us.</small></h1>

      <h4> Seriously, you must be ahead of the curve.  We'd appreciate it if you took a minute to spread some of that early-adopter love to your friends.  </h4>
<br>
      <h4> The Onyx Motion Team (James, Kelvin, Marissa and Vivek) </h4>

    </div>
  </div> <!-- Banner Text Row
 -->
            <div class="row no-gutter" style="padding:5% 0 0 5%">

          <div class="col-md-1 col-md-offset-4">

<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2Fonyxmotion&amp;width=500&amp;layout=box_count&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:500px; height:65px;" allowTransparency="true"></iframe>

          </div>

          <div class="col-md-1">

                        <a href="https://twitter.com/onyxmotionnews" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @onyxmotionnews</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

          </div>



          <div class="col-md-1">

            <script src="http://platform.tumblr.com/v1/share.js"></script>

                     <a href="http://www.tumblr.com/share" title="Share on Tumblr" style="display:inline-block; text-indent:-9999px; overflow:hidden; width:129px; height:20px; background:url('http://platform.tumblr.com/v1/share_3.png') top left no-repeat transparent;">Share on Tumblr</a>

          </div>

      </div>


      
    </div> <!-- Jumbotron Caption -->
</div><!--Thank You Page of Engage Row-->








