<div class="container-fluid" id="buyNow" padding="0px">

<div class="jumbotron banner" class="img-rounded" style="background-image: url('/images/hero/basketballConcept.jpg')">
    <div class="container">
    <div class="jumbotron-caption">

      <!-- Buy Now -->



                <div class="col-md-4 col-md-offset-8">

                  <h1> Onyx Motion </h1>
                  <br>
                  <h2> Players, meet your coach.</h2>
                  <br>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-lg"><a href="/#/preorder">Buy Now</a></button>
                        </div> <!--End Button-->
        
          </div><!-- end col-sm-2 -->

    </div>
  </div><!--container-->
</div><!--jumbotron-->
</div>






<!--Athelete Panel Row-->
<div class="row-fluid" id="threeFunctions" margin-top:"-50px">
<div class="jumbotron banner" style="background-image: url('/images/hero/basketballInGrass.jpg')" width:"auto;">
    <div class="jumbotron-caption">

        <div class="row">

          <h1>Pick up your game</h1>

          <div class="col-md-4">

            <img src="../../images/hero/freeThrow.png" width="200px" height = "300px">
        
          </div><!-- end col-sm-2 -->


          <div class="col-md-4">
            <p><br></p>
            <h1 style="font-size:200px;" ><i class="fa fa-comment-o"></i></h1>
          </div><!-- end col-sm-2 -->


          <div class="col-md-4">
            <p><br></p>
            <h1 style="font-size:200px;"><i class="fa fa-check-square-o fa-6"></i><h1>    
          </div><!-- end col-sm-2 -->

        </div>

        <div class="row">

          <div class="col-md-4">

            <h2>Form</h2>
            <p>Learn the perfect form for any skill you choose in our <strong>Motion Marketplace</strong></p>         
          </div><!-- end col-sm-2 -->

          <div class="col-md-4">
            <h2>Feedback</h2>
            <p>Get feedback on the court and detailed analytics off the court</p>    
          </div><!-- end col-sm-2 -->

          <div class="col-md-4">
            <h2>Plans</h2>
            <p>Stay on track with plans that change at your pace, created by the coaches of the pros</p>        
          </div><!-- end col-sm-2 -->

        </div>
      
    </div>
</div><!--jumbotron-->
</div>  <!--Athelete row-->


<section id =Features>
<div class="row-fluid" id="Features" padding="0px"> <!--Filler Row-->

<div class="jumbotron banner" style="background-image: url('/images/hero/filler.jpg')">
    <div class="container">
    <div class="jumbotron-caption">

   
<div ng-controller="CarouselCtrl">
  <div style="width:1440px; margin:-123px -150px">
    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="width:;">
        <div class="carousel-caption">
          <h1 style:"font-color:#ffffff">{{slide.text}}</h1>
        </div>
      </slide>
    </carousel>
  </div>
</div>



    </div>
  </div><!--container-->
</div><!--jumbotron-->
</div> <!--End Filler Row-->
</section>







