<div class="row blackRow">


  <div class="col-xs-11 col-md-4">

<div class="list-group">
  <a href="/#/about" class="list-group-item active">About Us</a>
  <a href="/#/FAQ" class="list-group-item">FAQ</a>
  <a href="/#/terms" class="list-group-item">Terms of Use</a>
  <a href="/#/privacy" class="list-group-item">Privacy Policy</a>
  <a href="/#/holla" class="list-group-item">Contact Us</a>
</div></div>

<div class="col-xs-11 col-md-8" id="mainText">

  <h1>About Us</h1>
<br>
  <p>
    We're building the next generation's coaches.
  </p>
<br>
<br>
<div class="video-container">
  <iframe src="//www.youtube.com/embed/0eZaOlMCllk" frameborder="0" allowfullscreen></iframe>
</div>
<br>
<br>
<br>

  <h1>Our Team</h1>
  <br>

   <div class="row">

  <div class="col-md-3">

  <a href="ca.linkedin.com/pub/vivek-kesarwani/92/957/529"> <img class="img-circle" src = "https://s3.amazonaws.com/OnyxMotion/Images/VivekTeamPicture.jpg" width="90%" height = "90%"></a>

 <p>Vivek Kesarwani<p>
  <p>COO<p>
</div>

  <div class="col-md-3">
    <a href="ca.linkedin.com/pub/james-schuback/30/b04/3a"> <img class="img-circle" src = "https://s3.amazonaws.com/OnyxMotion/Images/jamesTeamPicture" width="90%" height = "90%"></a>

    <p>James Schuback<p>
    <p>CEO<p>
</div>


  <div class="col-md-3"><a href="ca.linkedin.com/pub/marissa-wu/29/31b/a1/"> <img class="img-circle" src = "https://s3.amazonaws.com/OnyxMotion/Images/marissaTeamPicture.jpg" width="90%" height = "90%"></a>
 <p>Marissa Wu<p>
<p>CMO<p>
  </div>

    <div class="col-md-3"><a href="ca.linkedin.com/pub/kelvin-xu/24/467/a87"> <img class="img-circle" src = "https://s3.amazonaws.com/OnyxMotion/Images/kelvinTeamPicture" width="90%" height = "90%"></a>
 <p>Kelvin Xu<p>
<p>CTO<p>
  </div>
</div>


  </div>

 



</div>

