<div class="row blackRow">
  
  <div class="col-xs-6 col-md-4">

<div class="list-group">
  <a href="/#/about" class="list-group-item">About Us</a>
  <a href="/#/FAQ" class="list-group-item">FAQ</a>
  <a href="/#/terms" class="list-group-item">Terms of Use</a>
  <a href="/#/privacy" class="list-group-item">Privacy Policy</a>
  <a href="/#/holla" class="list-group-item active">Contact Us</a>
</div>
</div> <!-- List Column -->

<div class="col-xs-11 col-md-7" id="mainText">

	<h1> Holla at Us </h1>




<script> /* var bcf_settings = { buttonText:'Contact Us', buttonTop:'30%', language:'en_US' }; // Better Contact Form Settings */ (function (d, s, id) { if ('https:' == document.location.protocol || d.getElementById(id)) return; var js, fjs = d.getElementsByTagName(s)[0]; js = d.createElement(s); js.id = id; js.src = "http://bettercontactform.com/contact/media/4/7/4721a77340a02a389bbbf9de7b1ec0e1b4340476.js"; fjs.parentNode.insertBefore(js, fjs); }(document, "script", "bcf-render"));</script> <a id="bcf_trigger" href="http://bettercontactform.com" rel="bcf_trigger"></a>
						<h2> Email Us </h2>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-lg"><a rel="contactus"><i class="fa fa-envelope"></i></a></button>
                        </div> <!--End Button-->

                       	<h2> Call Us </h2>
                       	<h4>Ask for James Schuback, CEO </h4>
                       	<p>647-907-8364</p>

                        <h2> Send us a letter </h2>
                        <h4> Mailing Address: </h4>

						</address>
						<strong>Onyx Motion Inc. </strong><br>
						130 Bloor Street W #702<br>
						Toronto, ON M5S 1N5 <br>
						Canada<br>
						</address>

</div><!--  Content Column -->
</div> <!-- blackRow -->