<div class="row blackRow">
  
  <div class="col-xs-11 col-md-4">

<div class="list-group">
  <a href="/#/about" class="list-group-item">About Us</a>
  <a href="/#/FAQ" class="list-group-item active">FAQ</a>
  <a href="/#/terms" class="list-group-item">Terms of Use</a>
  <a href="/#/privacy" class="list-group-item">Privacy Policy</a>
  <a href="/#/holla" class="list-group-item">Contact Us</a>
</div>
</div> <!-- List Column -->

<div class="col-xs-11 col-md-7" id="mainText">

	<h1> FAQ's </h1>
	<ol>
		<li> How do you know what the "perfect" motion is?</li>

		<h4> We do our research.  Most coaches recognize that there is a standardized form that works most consistently for most atheletes.  For example, while there are exceptions, a basketball shot that starts with the arms lifted higher is more difficult to block during a game.   We combine tips from coaches who have worked with all levels of students and data from players with consistently high stats to give you the the most accurate information.</h4>

		<li> Where do you get your template data from?</li>

		<h4> We use the data of top players from college varsity teams.  By the college varsity level, most serious atheletes have more or less perfected their form.  What seperates them from the professionals are finer points of the game: mental resilience under pressure, reading plays and so on. </h4>

		<li> Where can I get a device?</li>

		<h4> As of now, you can pre-order from our site, <a href="/#/preorder">here</a>.  If you want an even better deal, check back here for our Kickstarter in July for awesome perks!</h4>

	</ol>

</div><!--  Content Column -->
</div> <!-- blackRow -->