<div class="row" id="buyNow" padding="0px" class="img-responsive" style="background-image: url('https://s3.amazonaws.com/OnyxMotion/Images/golfJumbo.jpg'); height:800px; background-size:cover;">

  <div class="jumbotron-caption">




                <div class="col-md-4 col-md-offset-7" >
                  <h1 style="font-size:1000%;"> Onyx Motion </h1>
                  <br>
                  <h2 style="font-size:300%;"> Get your kids in the game.</h2>
              
          </div><!-- end col-sm-2 -->

        </div>
</div> <!-- Banner Row -->



<!--Intro Panel-->
<div class="row" id="splashPanel" style="background-color:#e1e1e1;">


          <div class="col-md-4" >


            <img src="https://s3.amazonaws.com/OnyxMotion/Images/TransparentConcept.png" width="90%" style="padding-top:30%" class="img-responsive">

          </div>

          <div class="col-md-4">
          
          <h2 style="font-weight:400; margin-top:80px;">Onyx Motion</h2>
          <br>
          <h3 padding-top="20%" style="font-weight:300;"> Learning the fundamentals is especially important when they're young. </h3>

            <h3 style="font-weight:300; text-align:justify; text-justify:inter-word;">The Onyx Smartwatch uses the technique of professionals and the tips of real coaches to help guide their practise.  </h3>

                         <h3 style="font-weight:300; text-align:justify; text-justify:inter-word;">The data is available in the Portal app so you and your child can see their progress, where they need the most help and communicate that clearly to their coaches.</h3>

                          <h3 style="font-weight:300; text-align:justify; text-justify:inter-word;">Onyx Motion helps your kid reach their potential.</h3>
          </div>


          <div class="col-md-4">


             <img style="padding-top:20%" src="https://s3.amazonaws.com/OnyxMotion/Images/portalMockup.png"  width="70%" class="img-responsive">

        
          </div><!-- end col-sm-2 -->


</div>  <!--Intro Panel-->


<div class="row" id="buyNow" padding="0px" class="img-responsive" style="background-image: url('https://s3.amazonaws.com/OnyxMotion/Images/golfParent.jpg'); height:800px; background-size:cover;">

  <div class="jumbotron-caption">




                <div class="col-md-4 col-md-offset-7" >
                  <h1 style="font-size:1000%;"> Onyx Motion </h1>
                  <br>
                  <h2 style="font-size:300%;"> Get your kids in the game.</h2>

                        <div class="btn-group" style="padding-left:5%;">
                            <button type="button" class="btn btn-primary btn-lg" analytics-on="click" analytics-event="FrontPageBuy"><a href="/#/preorder" analytics-on="click" analytics-event="IntroPanelBuy">Learn More</a></button>
                        </div> <!--End Button-->

              
          </div><!-- end col-sm-2 -->

        </div>
</div> <!-- Banner Row -->

<!--MultiSport Panel-->


<div class="row no-gutter" id="examplePanel">


      <div class = "row" style="background-color:#333333; color:#ffffff; padding:3% 0 3% 0;">

          <h2 align="center">Learn more about entire portfolio.  Click a sport to find out more.</h2>

  </div> <!-- Title -->

          <div class="col-md-4">

            <a href="/#/#buyNow"> <img src="https://s3.amazonaws.com/OnyxMotion/Images/chooseBadminton.jpg" class="img-responsive"></a>
        
          </div><!-- end col-md-4 -->

          <div class="col-md-4">

            <a href="/#/#buyNow"> <img src="https://s3.amazonaws.com/OnyxMotion/Images/chooseBaseball.jpg" class="img-responsive"></a>
        
          </div><!-- end col-md-4 -->


          <div class="col-md-4">

            <a href="/#/#buyNow"> <img src="https://s3.amazonaws.com/OnyxMotion/Images/chooseTennis.jpg" class="img-responsive"></a>
        
          </div><!-- end col-md-4 -->

                    <div class="col-md-4">

            <a href="/#/#buyNow"> <img src="https://s3.amazonaws.com/OnyxMotion/Images/chooseFootball.jpg" class="img-responsive"></a>
        
          </div><!-- end col-md-4 -->

          <div class="col-md-4">

            <a href="/#/#buyNow"> <img src="https://s3.amazonaws.com/OnyxMotion/Images/chooseGolf.jpg" class="img-responsive"></a>
        
          </div><!-- end col-md-4 -->


          <div class="col-md-4">

            <a href="/#/#buyNow"> <img src="https://s3.amazonaws.com/OnyxMotion/Images/chooseBasketball.jpg" class="img-responsive"></a>
        
          </div><!-- end col-md-4 -->


</div>  <!--MultisportExample Panel-->






