

<div  class="jumbotron banner"  style="background-color:#000;">
    <div ng-show="signup"  class="jumbotron-caption">

      <!-- Buy Now -->
      <h1 style="padding:10px;"> Thanks for hitting us up.</h1>
      <h3 style="padding:50px;color:#e1e1e1;">We're building some digital coaches. If you want a heads up at launch, let us know.</h3>


<!-- Begin MailChimp Signup Form -->
<!-- <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css"> -->
<style type="text/css">
          #mc_embed_signup{background:transparent; clear:left; font:20px Helvetica,Arial,sans-serif; }
          /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
             We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
<div id="mc_embed_signup">
        <form action="http://onyxmotion.us8.list-manage.com/subscribe/post?u=1f849069c3254cfa3d6ca050a&amp;id=fe937a6f51" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="all-star@onyxmotion.com" required>

            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_1f849069c3254cfa3d6ca050a_fe937a6f51" value=""></div>

            <h4> <br> </h4>

          <div style="margin-left:-55px"class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-lg" ng-click="save()"></div>
        </form> <!-- end form -->
</div> <!-- end SurveyMonkey signup form -->



    </form>
    <div ng-show="master">{{master | json}}</div> <!-- I dunno -->


      <h6 style="padding:20px;color:#e1e1e1;" align="center"> Would a good coach send spam or share your email? No. We won't either.</h6>

</div> <!-- Jumbotron Caption -->




    <div ng-hide="signup" class="row">
    <div class="jumbotron-caption">


      <div class="row">

          <div class="col-md-6 col-md-offset-3">
      <!-- Buy Now -->
      <h1 style="padding:5% 0 5% 0;"> Thanks.  <br><small>You're already an all-star to us.</small></h1>

      <h4> Seriously, you must be ahead of the curve.  It's not like we're a Fortune 500.  We'd appreciate it if you took a minute to spread some of that early-adopter love to your friends.  </h4>
<br>
      <h4> The Onyx Motion Team (James, Kelvin, Marissa and Vivek) </h4>

    </div>
  </div> <!-- Banner Text Row
 -->
      <div class="row no-gutter" style="padding:5% 0 0 5%">

          <div class="col-md-1 col-md-offset-4">

<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2Fonyxmotion&amp;width=500&amp;layout=box_count&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:500px; height:65px;" allowTransparency="true"></iframe>

          </div>

          <div class="col-md-1">

                        <a href="https://twitter.com/onyxmotionnews" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @onyxmotionnews</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

          </div>



          <div class="col-md-1">

            <script src="http://platform.tumblr.com/v1/share.js"></script>

                     <a href="http://www.tumblr.com/share" title="Share on Tumblr" style="display:inline-block; text-indent:-9999px; overflow:hidden; width:129px; height:20px; background:url('http://platform.tumblr.com/v1/share_3.png') top left no-repeat transparent;">Share on Tumblr</a>

          </div>

      </div>

      
    </div> <!-- Jumbotron Caption -->
  </div><!--thank you container-->



</div> <!-- Jumbotron Banner -->






