
<div class="row" id="buyNow" padding="0px" class="img-responsive" style="background-image: url('https://s3.amazonaws.com/OnyxMotion/Images/stadiumBlurred.jpg'); height:1000px; background-size:cover;">


      <!-- Buy Now -->
      <div class="row some-gutter">
                
                <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">

                  <h1 style="font-weight:100; color:#ffffff; font-size:400%; text-align:center; padding-top:15%;"> Digital coaching more powerful than ever. </h1>
                  <br>
                  <h1 style="font-weight:100; color:#ffffff; font-size:300%; text-align:center;">Meet the Onyx Motion Smartwatch <a href="/#/#introPanel"><i class="fa fa-caret-square-o-right"></i></a></h1>                       
                      </div>
        </div>


<div class="row">
                          <div class="col-md-4 col-md-offset-5 col-xs-12 col-xs-offset-3">
                              <img style="padding-top:5%; padding-left:2%;" src="https://s3.amazonaws.com/OnyxMotion/Images/blackwatchFrontTransparent.png" width="40%" class="img-responsive">
          </div><!-- end col-sm-2 -->

        </div>



</div> <!-- Banner Row -->



<!--Intro Panel-->
<div class="row" id="splashPanel" style="background-color:#e1e1e1; color:#000000; padding-bottom:10%">

          <div class="col-md-4 col-md-offset-1">


             <img style="padding-top:10%" src="https://s3.amazonaws.com/OnyxMotion/Images/portalMockup.png"  width="90%" class="img-responsive">

        
          </div><!-- end col-sm-2 -->



           <div class="col-md-5 col-md-offset-1 col-xs-10 col-xs-offset-1">
          
 <h2 style="font-weight:200; padding-top:10%; margin-top:20%;color:#000000; ">Analytical Power x Sports Coaching</h2>
          <br>

            <h3 style="font-weight:100; text-align:justify; text-justify:inter-word;color:#000000; ">The Onyx Smartwatch compares your technique to the professionals and gives you helpful tips for improving.  </h3>

            <h3 style="font-weight:100; text-align:justify; text-justify:inter-word;color:#000000; ">By collecting your stats over time, we can paint you a picture of your progress and give you an idea of how to make the best of your practice time.</h3>
          <br>
                        <div class="btn-group" style="padding-left:2%;">
                            <button type="button" class="btn btn-primary btn-lg" analytics-on="click" analytics-event="FrontPageBuy"><a href="/#/preorder" analytics-on="click" analytics-event="IntroPanelBuy">Buy Now</a></button>
                        </div> <!--End Button-->

        </div>


</div>  <!--Intro Panel-->

<!--Components Panel-->

<div class="row some-gutter" id="componentsPanel" style="background-color:#e1e1e1; color:#333333; padding-bottom:10%">


          <div class="col-md-5">


             <img style="padding-top:15%" src="https://s3.amazonaws.com/OnyxMotion/Images/blackwatchScreenTransparent.png"  width="110%" class="img-responsive">

        
          </div><!-- end col-sm-2 -->



           <div class="col-md-5 col-xs-10 col-xs-offset-1">
          
 <h2 style="font-weight:200; padding-top:10%; margin-top:80px;">Sophisticated Engineering</h2>
          <br>
          <h3 style="font-weight:100;"> We didn't want to build another step counter.  We wanted to build the next thing. </h3>


            <h3 style="font-weight:100;">We used the best sensors and leading edge algorithms to give you the most powerful insights into winning.</h3>

            

            <h3 style="padding-top:10%; font-weight:100; text-align:justify; text-justify:inter-word;"><i class="fa fa-sun-o"></i> High contrast transflective screen for outdoor use</h3>

            <h3 style="font-weight:100; text-align:justify; text-justify:inter-word;"><i class="fa fa-tachometer"></i> Motion sensors with higher than industry standard precision</h3>

            <h3 style="font-weight:100; text-align:justify; text-justify:inter-word;"><i class="fa fa-database"></i> Machine learning motion recognition inspired by speech recognition research</h3>



            <br>
<!--                         <div class="btn-group" style="padding-left:2%;">
                            <button type="button" class="btn btn-primary btn-lg" analytics-on="click" analytics-event="FrontPageBuy"><a href="/#/preorder" analytics-on="click" analytics-event="IntroPanelBuy">Learn More</a></button>
                        </div> <!--End Button--> 

        </div>

</div>  <!--Components Panel-->

<!--UX Panel-->

<div class="row some-gutter" id="componentsPanel" style="background-color:#e1e1e1; color:#000000; padding-bottom:10%">


          <div class="col-md-6 col-xs-10 col-xs-offset-1">


             <img style="padding-top:20%" src="https://s3.amazonaws.com/OnyxMotion/Images/twoblackTransparent.png" class="img-responsive">

        
          </div><!-- end col-sm-2 -->



           <div class="col-md-4 col-xs-10 col-xs-offset-1">
          
 <h2 style="font-weight:200; padding-top:10%; margin-top:80px;">A seamless experience</h2>
          <br>
          <h3 style="font-weight:100;">The best insight is instant and complete.</h3>


            <h3 style="padding-top:10%; font-weight:100; text-align:justify; text-justify:inter-word;"> With an on board screen for instant feedback so you don't need to constantly pull out your phone in-game.  Feedback is relevant and in a language you can understand. A smooth form factor means Onyx isn't just beautiful, it's safe.</h3>
            <br>

         <h3 style="font-weight:100;">You can tell when something is designed with care.</h3>
<!--                         <div class="btn-group" style="padding-left:2%;">
                            <button type="button" class="btn btn-primary btn-lg" analytics-on="click" analytics-event="FrontPageBuy"><a href="/#/preorder" analytics-on="click" analytics-event="IntroPanelBuy">Learn More</a></button>

                            <section class="page2">
                        </div> <!--End Button--> 

        </div>

</div>  <!--UX Panel-->


<!-- Video Dev Panel -->
<div class="row no-gutter" id="videoDevPanel">


      <div class = "row" style="background-color:#333333; color:#ffffff;">

          <h2 align="center" style="font-weight:100;">Development Timeline</h2>

  </div> <!-- Title -->

  <div class="row no-gutter">

          <div class="col-md-4">

            <iframe width="560" height="315" src="//www.youtube.com/embed/3E5DOWk9l5M" frameborder="0" allowfullscreen></iframe>
        
          </div><!-- end col-md-4 -->

          <div class="col-md-4">

            <iframe width="560" height="315" src="//www.youtube.com/embed/1oGmtb7XnYo" frameborder="0" allowfullscreen></iframe>
        
          </div><!-- end col-md-4 -->


          <div class="col-md-4">
<a href="/#/#buyNow"> <img src="https://s3.amazonaws.com/OnyxMotion/Images/39162B1_TOP.jpg" class="img-responsive"></a>
            
        </div>
</div>

</div>  <!--Video Dev Panel-->


<!--MultiSport Panel-->

<div class="row no-gutter" id="examplePanel">


      <div class = "row" style="background-color:#333333; color:#ffffff;">

          <h2 align="center" style="font-weight:100;">Pick your sport to find out more.</h2>

  </div> <!-- Title -->

          <div class = "row" style="background-color:#000000; color:#ffffff; padding:3% 0 3% 0;">

          <div class="col-md-3 col-md-offset-2 col-xs-12">

                        <div class="btn-group" style="padding-left:2%;">
                            <button type="button" class="btn btn-primary btn-lg"><a href="/#/" analytics-on="click" analytics-event="ChooseBasketball">Basketball</a></button>
                        </div> <!--End Button-->
        
          </div><!-- end col-md-4 -->

          <div class="col-md-3 col-xs-12">

                        <div class="btn-group" style="padding-left:2%;">
                            <button type="button" class="btn btn-primary btn-lg"><a href="/#/" analytics-on="click" analytics-event="ChooseTennis">Tennis</a></button>
                        </div> <!--End Button-->
        
          </div><!-- end col-md-4 -->


          <div class="col-md-3 col-xs-12">

                        <div class="btn-group" style="padding-left:2%;">
                            <button type="button" class="btn btn-primary btn-lg"><a href="/#/" analytics-on="click" analytics-event="ChooseBaseball">Baseball</a></button>
                        </div> <!--End Button-->
        
          </div><!-- end col-md-4 -->
  </div>

      <div class = "row" style="background-color:#000000; color:#ffffff; padding:3% 0 3% 0;">

                    <div class="col-md-3 col-md-offset-2 col-xs-12">

                        <div class="btn-group" style="padding-left:2%;">
                            <button type="button" class="btn btn-primary btn-lg"><a href="/#/" analytics-on="click" analytics-event="ChooseBadminton">Badminton</a></button>
                        </div> <!--End Button-->
        
          </div><!-- end col-md-4 -->

          <div class="col-md-3 col-xs-12">

                        <div class="btn-group" style="padding-left:2%;">
                            <button type="button" class="btn btn-primary btn-lg"><a href="/#/" analytics-on="click" analytics-event="ChooseFootball">Football</a></button>
                        </div> <!--End Button-->
        
          </div><!-- end col-md-4 -->


          <div class="col-md-3 col-xs-12">

                        <div class="btn-group" style="padding-left:2%;">
                            <button type="button" class="btn btn-primary btn-lg"><a href="/#/" analytics-on="click" analytics-event="ChooseGolf">Golf</a></button>
                        </div> <!--End Button-->
        
          </div><!-- end col-md-4 -->

</div>  <!--MultisportExample Panel-->