<div class="row" id="buyNow" padding="0px" class="img-responsive" style="background-image: url('https://s3.amazonaws.com/OnyxMotion/Images/stadiumBlurred.jpg'); height:800px; background-size:cover;">


      <!-- Buy Now -->
      <div class="row">
                <br>
                <div class="col-md-10 col-md-offset-1">

                  <h1 style="font-weight:100; color:#ffffff; font-size:400%; text-align:center; padding-top:10%;"> Digital coaching more powerful than ever. </h1>
                  <br>
                  <h1 style="font-weight:100; color:#ffffff; font-size:300%; text-align:center;">Meet the Onyx Motion Smartwatch <a href="/#/#introPanel"><i class="fa fa-caret-square-o-right"></i></a></h1>                       
                      </div>
        </div>


<div class="row">
                          <div class="col-md-4 col-md-offset-4">
                              <img src="https://s3.amazonaws.com/OnyxMotion/Images/TransparentConcept.png" width="85%" class="img-responsive">
          </div><!-- end col-sm-2 -->

        </div>



</div> <!-- Banner Row -->




<!--Intro Panel-->
<div class="row" id="splashPanel" style="background-image: url('https://s3.amazonaws.com/OnyxMotion/Images/stadiumBlurMorePart.jpg'); height:800px; background-size:cover;">

          <div class="col-md-4 col-md-offset-1">


             <img style="padding-top:10%" src="https://s3.amazonaws.com/OnyxMotion/Images/portalMockup.png"  width="90%" class="img-responsive">

        
          </div><!-- end col-sm-2 -->



           <div class="col-md-5 col-md-offset-1">
          
 <h2 style="font-weight:200; padding-top:10%; margin-top:20%;color:#ffffff; ">Analytical Power x Sports Coaching</h2>
          <br>

            <h3 style="font-weight:100; text-align:justify; text-justify:inter-word;color:#ffffff; ">The Onyx Smartwatch compares your technique to the professionals and gives you helpful tips for improving.  </h3>

            <h3 style="font-weight:100; text-align:justify; text-justify:inter-word;color:#ffffff; ">By collecting your stats over time, we can paint you a picture of your progress and give you an idea of how to make the best of your practice time.</h3>
          <br>
                        <div class="btn-group" style="padding-left:2%;">
                            <button type="button" class="btn btn-primary btn-lg" analytics-on="click" analytics-event="FrontPageBuy"><a href="/#/preorder" analytics-on="click" analytics-event="IntroPanelBuy">Buy Now</a></button>
                        </div> <!--End Button-->

        </div>





</div>  <!--Intro Panel-->

<!--Components Panel-->

<div class="row no-gutter" id="componentsPanel" style="background-color:#ffffff; color:#333333; padding-bottom:10%">


          <div class="col-md-4 col-md-offset-1">


             <img style="padding-top:30%" src="https://s3.amazonaws.com/OnyxMotion/Images/9axis.png"  width="110%" class="img-responsive">

        
          </div><!-- end col-sm-2 -->



           <div class="col-md-5 col-md-offset-1">
          
 <h2 style="font-weight:200; padding-top:10%; margin-top:80px;">Sophisticated Engineering</h2>
          <br>
          <h3 style="font-weight:100;"> We didn't want to build another step counter.  We wanted to build the next thing. </h3>


            <h3 style="font-weight:100;">We used the best materials, leading edge algorithms and data from atheletes with consistently great performancet to give you the most powerful insights into winning.</h3>

            

            <h3 style="padding-top:10%; font-weight:100; text-align:justify; text-justify:inter-word;"><i class="fa fa-sun-o"></i> High contrast transflective screen for outdoor use</h3>

            <h3 style="font-weight:100; text-align:justify; text-justify:inter-word;"><i class="fa fa-tachometer"></i> Motion sensors with higher than industry standard precision</h3>

            <h3 style="font-weight:100; text-align:justify; text-justify:inter-word;"><i class="fa fa-database"></i> Machine learning motion recognition inspired by speech recognition research</h3>



            <br>
<!--                         <div class="btn-group" style="padding-left:2%;">
                            <button type="button" class="btn btn-primary btn-lg" analytics-on="click" analytics-event="FrontPageBuy"><a href="/#/preorder" analytics-on="click" analytics-event="IntroPanelBuy">Learn More</a></button>
                        </div> <!--End Button--> 

        </div>

</div>  <!--Components Panel-->


<!--UX Panel-->

<div class="row no-gutter" id="componentsPanel" style="background-color:#000000; color:#ffffff; padding-bottom:10%">


          <div class="col-md-4 col-md-offset-1">


             <img style="padding-top:30%" src="https://s3.amazonaws.com/OnyxMotion/Images/smartwatch.jpg"  width="110%" class="img-responsive">

        
          </div><!-- end col-sm-2 -->



           <div class="col-md-5 col-md-offset-1">
          
 <h2 style="font-weight:200; padding-top:10%; margin-top:80px;">A seamless experience</h2>
          <br>
          <h3 style="font-weight:100;">The best insight is instant and complete.</h3>


            <h3 style="padding-top:10%; font-weight:100; text-align:justify; text-justify:inter-word;"> With an on board screen for instant feedback so you don't need to constantly pull out your phone in-game.  Feedback is relevant and in a language you can understand. A smooth form factor means Onyx isn't just beautiful, it's safe.</h3>
            <br>

         <h3 style="font-weight:100;">You can tell when something is designed with care.</h3>
<!--                         <div class="btn-group" style="padding-left:2%;">
                            <button type="button" class="btn btn-primary btn-lg" analytics-on="click" analytics-event="FrontPageBuy"><a href="/#/preorder" analytics-on="click" analytics-event="IntroPanelBuy">Learn More</a></button>
                        </div> <!--End Button--> 

        </div>

</div>  <!--UX Panel-->

<!-- Video Dev Panel -->
<div class="row no-gutter" id="videoDevPanel">


      <div class = "row" style="background-color:#333333; color:#ffffff;">

          <h2 align="center" style="font-weight:100;">Development Timeline</h2>

  </div> <!-- Title -->

  <div class="row no-gutter">

          <div class="col-md-4">

            <iframe width="560" height="315" src="//www.youtube.com/embed/3E5DOWk9l5M" frameborder="0" allowfullscreen></iframe>
        
          </div><!-- end col-md-4 -->

          <div class="col-md-4">

            <iframe width="560" height="315" src="//www.youtube.com/embed/1oGmtb7XnYo" frameborder="0" allowfullscreen></iframe>
        
          </div><!-- end col-md-4 -->


          <div class="col-md-4">
<a href="/#/#buyNow"> <img src="https://s3.amazonaws.com/OnyxMotion/Images/39162B1_TOP.jpg" class="img-responsive"></a>
            
        </div>
</div>

</div>  <!--Video Dev Panel-->

<!--MultiSport Panel-->

<div class="row no-gutter" id="examplePanel">


      <div class = "row" style="background-color:#333333; color:#ffffff;">

          <h2 align="center" style="font-weight:100;">Pick your sport to find out more.</h2>

  </div> <!-- Title -->

          <div class="col-md-4">

            <a href="/#/#buyNow"> <img src="https://s3.amazonaws.com/OnyxMotion/Images/chooseBadminton.jpg" class="img-responsive"></a>
        
          </div><!-- end col-md-4 -->

          <div class="col-md-4">

            <a href="/#/#buyNow"> <img src="https://s3.amazonaws.com/OnyxMotion/Images/chooseBaseball.jpg" class="img-responsive"></a>
        
          </div><!-- end col-md-4 -->


          <div class="col-md-4">

            <a href="/#/#buyNow"> <img src="https://s3.amazonaws.com/OnyxMotion/Images/chooseTennis.jpg" class="img-responsive"></a>
        
          </div><!-- end col-md-4 -->

                    <div class="col-md-4">

            <a href="/#/#buyNow"> <img src="https://s3.amazonaws.com/OnyxMotion/Images/chooseFootball.jpg" class="img-responsive"></a>
        
          </div><!-- end col-md-4 -->

          <div class="col-md-4">

            <a href="/#/#buyNow"> <img src="https://s3.amazonaws.com/OnyxMotion/Images/chooseGolf.jpg" class="img-responsive"></a>
        
          </div><!-- end col-md-4 -->


          <div class="col-md-4">

            <a href="/#/#buyNow"> <img src="https://s3.amazonaws.com/OnyxMotion/Images/chooseBasketball.jpg" class="img-responsive"></a>
        
          </div><!-- end col-md-4 -->


</div>  <!--MultisportExample Panel-->






