<div class="row" id="buyNow" padding="0px" class="img-responsive" style="background-image: url('https://s3.amazonaws.com/OnyxMotion/Images/stadiumBlurred.jpg'); height:800px; background-size:cover;">


      <!-- Buy Now -->
      <div class="row">
                <br>
                <div class="col-md-10 col-md-offset-1">

                  <h1 style="font-weight:100; color:#ffffff; font-size:400%; text-align:center;"> Digital coaching more powerful than ever. </h1>
                  <br>
                  <h1 style="font-weight:100; color:#ffffff; font-size:300%; text-align:center;">Meet the Onyx Motion Smartwatch <a href="/#/#introPanel"><i class="fa fa-caret-square-o-right"></i></a></h1>                       
                      </div>
        </div>


<div class="row">
                          <div class="col-md-4 col-md-offset-4">
                              <img src="https://s3.amazonaws.com/OnyxMotion/Images/TransparentConcept.png" width="85%" class="img-responsive">
          </div><!-- end col-sm-2 -->

        </div>



</div> <!-- Banner Row -->


<div class="row no-gutter" id="videoDevPanel">


      <div class = "row" style="background-color:#333333; color:#ffffff; padding:3% 0 3% 0;">

          <h2 align="center">Development Timeline</h2>

  </div> <!-- Title -->

  <div class="row no-gutter">

          <div class="col-md-4">

            <iframe width="560" height="315" src="//www.youtube.com/embed/3E5DOWk9l5M" frameborder="0" allowfullscreen></iframe>
        
          </div><!-- end col-md-4 -->

          <div class="col-md-4">

            <iframe width="560" height="315" src="//www.youtube.com/embed/1oGmtb7XnYo" frameborder="0" allowfullscreen></iframe>
        
          </div><!-- end col-md-4 -->


          <div class="col-md-4">

            <iframe width="560" height="315" src="//www.youtube.com/embed/j0Mbm6ImvbU" frameborder="0" allowfullscreen></iframe>
        </div>
</div>

</div>  <!--MultisportExample Panel-->



<!--Intro Panel-->
<div class="row" id="splashPanel" style="background-color:#e1e1e1;">


           <div class="col-md-6 col-md-offset-1">
          
 <h2 style="font-weight:400; margin-top:80px;">Onyx Motion Digital Coaching</h2>
          <br>
          <h3 style="font-weight:300;"> You don't need another step counter.  </h3>


            <h3 style="font-weight:300;"> 9-axis sensors.  Machine learning motion matching algorithms.  We're transforming the fitness tracker.</h3>

            <h3 style="font-weight:300; text-align:justify; text-justify:inter-word;">The Onyx Smartwatch compares your technique to the professionals and gives you helpful tips for improving.  </h3>

            <h3 style="font-weight:300; text-align:justify; text-justify:inter-word;">By collecting your stats over time, we can paint you a picture of your progress and give you an idea of how to make the best of your practice time.</h3>
          <br>
                        <div class="btn-group" style="padding-left:5%;">
                            <button type="button" class="btn btn-primary btn-lg" analytics-on="click" analytics-event="FrontPageBuy"><a href="/#/preorder" analytics-on="click" analytics-event="IntroPanelBuy">Buy Now</a></button>
                        </div> <!--End Button-->

        </div>


          <div class="col-md-4 col-md-offset-1">


             <img style="padding-top:5%" src="https://s3.amazonaws.com/OnyxMotion/Images/portalMockup.png"  width="70%" class="img-responsive">

        
          </div><!-- end col-sm-2 -->


</div>  <!--Intro Panel-->




<!--MultiSport Panel-->



<div class="row no-gutter" id="examplePanel">


      <div class = "row" style="background-color:#333333; color:#ffffff; padding:3% 0 3% 0;">

          <h2 align="center">Pick your sport to find out more.</h2>

  </div> <!-- Title -->

          <div class="col-md-4">

            <a href="/#/#buyNow"> <img src="https://s3.amazonaws.com/OnyxMotion/Images/chooseBadminton.jpg" class="img-responsive"></a>
        
          </div><!-- end col-md-4 -->

          <div class="col-md-4">

            <a href="/#/#buyNow"> <img src="https://s3.amazonaws.com/OnyxMotion/Images/chooseBaseball.jpg" class="img-responsive"></a>
        
          </div><!-- end col-md-4 -->


          <div class="col-md-4">

            <a href="/#/#buyNow"> <img src="https://s3.amazonaws.com/OnyxMotion/Images/chooseTennis.jpg" class="img-responsive"></a>
        
          </div><!-- end col-md-4 -->

                    <div class="col-md-4">

            <a href="/#/#buyNow"> <img src="https://s3.amazonaws.com/OnyxMotion/Images/chooseFootball.jpg" class="img-responsive"></a>
        
          </div><!-- end col-md-4 -->

          <div class="col-md-4">

            <a href="/#/#buyNow"> <img src="https://s3.amazonaws.com/OnyxMotion/Images/chooseGolf.jpg" class="img-responsive"></a>
        
          </div><!-- end col-md-4 -->


          <div class="col-md-4">

            <a href="/#/#buyNow"> <img src="https://s3.amazonaws.com/OnyxMotion/Images/chooseBasketball.jpg" class="img-responsive"></a>
        
          </div><!-- end col-md-4 -->


</div>  <!--MultisportExample Panel-->






